
	body{
	
		background-image: url("blue_bg.jpg");
		background-repeat:no-repeat;/* appears once*/
		background-position:top center;
		background-size:cover;	
		position:relative;
		background-attachment:scroll;/*fixed = img stays elements move, scroll= img moves w elements*/
		/*background-color:#b3cccc;*/
		margin: 0 auto;
		height: auto;
			/*background: url () no-repeat top center (same thing above);*/
		/*background-color:#ccccff*/;
	   /*"https://www.clipartsgram.com/image/840125329-indie-tarot-website-background2.jpg*/
	}



	h1{text-align: center;
	font-size: 40px;
	font-family:Courier New;}

	ul{
	/*border-style:ridge;frame*/
		/*border-style:double;*/
		/*background-color:#3c6ab2;*/
		background-image: url('http://cinderwick.ca/files/moto/Wallpaper/Abstract/Polygon-Background3.jpg');
		background-position:  center center;
		background-size:cover;
		top: 0px; 
		text-align:right; 
	        position:relative;	
		
		width:100%;
		
		
	}



	.doc
	{
		background-size: cover;

		
		
	}

	.resume
	{
		background-position:block;
		top: -20px;
	}

	a{
		text-decoration:none;
		color:white;
		width: 100%;
        height: 100%;
	    cursor: auto;
		z-index: 2;
	}



	/*li:hover a{
		background-color:#72767c;
		transition-delay:0.2s;
		padding: 15.5px;
		margin: 0 auto;*/
		
	} 

	 li:active a{
		background-color:#4677c9;
		padding: 17px 7px;
	 }
		


	/*.info{position:fixed;}use for postioning*/

	li, .button
		{
		text-decoration:none;
		width: 110px;
		height: 45px;
		display:inline-block;
		text-align: center;
		font-weight:bold;
		font-family:'Helvetica	';
		font-size: 17px;
		white-space: nowrap ;
		table-layout: fixed; 
		letter-spacing: 0.06em;
		line-height:40px;
		margin-right: 90px;
		z-index: 1;
		
		
	}

	.nav {
		display: inline;
		}
		
	.water{
		margin: 0 50%;
		padding: 10px 10px;
		width:100px;
		height:100px;
		opacity:0.8;
		float: right;
		display:block /*block element centered*/
		
	}

	.text {
		font-size:18px;
		font-family: "Palatino Linotype";
		max-width: 700px;
		min-height:200px;
		/*border: 5px rgb(22, 77, 100);
		border-style:ridge;
		border-radius:15px; 100px = circle*/
		color: black;
		text-align: justify;
		margin: 0 auto;
		line-height: 40px;
		letter-spacing: 0.08em;
		
		

	/*margin:auto;  centered*/
	}

	.title{
		font-size: 30px;
		text-align: justify;
		font-family:  Courier New; 
		margin: 0 auto;
		max-width: 700px;
		
		
	}

	.logo 
        {display:block; 
	position: center;
        margin: 0 auto;
	 z-index: -1;
	}


	.name
	{
		
        float: left;
	    text-decoration:none;
		color: black;
		width: 110px;
		height: 45px;
		display:inline-block;
		text-align: center;
		font-weight:bold;
		font-family:'Helvetica	';
		font-size: 17px;
		white-space: nowrap ;
		table-layout: fixed; 
		letter-spacing: 0.06em;
		line-height:40px;
		margin-right: 90px;
		 
        
	}


	.video
	{
		position: center;
	}

    


	/*solid - border is a solid line.
	dashed - border is a series of lines or dashes.
	dotted - border is a series of square dots.
	double - border is two solid black lines.
	groove - border is a groove (or carving).
	inset - border appears to cut into the screen.
	outset - border appears to pop out of the screen.
	ridge - border appears as a picture frame.
	hidden or none - no border.
	(top: 3 pixels, right: 1 pixel, bottom: 2 pixels, left: 1 pixel).
	 border: 3px solid rgb(22, 77, 100);
	 Padding is the spacing between a box's content and the borders of the box.
	 Margin is the spacing directly outside of a box's borders.
	 GRADIENT background-image: -webkit-linear-gradient(#666CCC, #BC1324);

	*/
